{
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/recoil/(.*)$",
    "^@/(components|libs|hooks|utils|types|constants)/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
