<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
<script src="https://yuristrap-cdn.vercel.app/1.0.5/js/yuri.js"></script>
<script>
	
		var checkbox = document.querySelector('input[name=mode]');
	
		if (localStorage.toggled === 'dark') {
			document.documentElement.setAttribute('data-theme', 'dark');
			checkbox.checked = true;
		}

		checkbox.addEventListener('change', function () {
			if (this.checked) {
				trans();
				document.documentElement.setAttribute('data-theme', 'dark');
				localStorage.toggled = 'dark';
			} else {
				trans();
				document.documentElement.setAttribute('data-theme', 'light');
				localStorage.toggled = '';
			}
		})

		let trans = () => {
			document.documentElement.classList.add('transition');
			window.setTimeout(() => {
				document.documentElement.classList.remove('transition');
			}, 1000)
		}
</script>