<div class="post-tags-box dsp-flex f-wrap">
    {% capture tags %}
    {% for tag in site.tags limit:include.limit %}
        {{ tag[1].size | plus: -10000 }}###{{ tag[0] | replace: ' ', '##' }}###{{ tag[1].size }}
    {% endfor %}
    {% endcapture %}
    {% assign sorted_tags = tags | split: ' ' | sort %}
    {% for sorted_tag in sorted_tags %}
        {% assign items = sorted_tag | split: '###' %}
        {% assign tag = items[1] | replace: '##', ' ' %}
        {% assign count = items[2] | plus: 0 %}
        {% if count > 5 %}
            {% assign size = 5 %}
        {% else %}
            {% assign size = count %}
        {% endif %}
        <button type="button" class="btn btn-primary btn-tag" onclick="location.href='/tags/?tag={{tag}}'">
        {{ tag }} <span class="badge badge-light tag-badge">{{ count }}</span>
        </button>
    {% endfor %}

    {% if include.limit %}
        <button type="button" class="btn btn-tag btn-transparent" onclick="location.href='/tags'">
        더보기..
        </button>
    {% endif %}
</div>  
