@mixin media($queryString){
    @media #{$queryString} {
      @content;
    }
}

/* ABOUT */
.about {
	.introduce {
		height: auto;
		padding-bottom: 100px;
		position: relative;
		@include media("(max-width: 768px)") {
			padding-bottom: 40px;
			height: auto;
		}
		.profile-img {
			height: 250px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			border-radius: .5rem;
			@include media("(max-width: 768px)") {
				margin-top: 30px;
			}
		}
		.chat {
			padding: 15px;
			background-color: $code-bg-color;
			border-radius: 0px 25px 25px 25px;
		}
		.info-box {
			.info-title {
				.octicon {
					// fill: 
					margin-right: 10px;
				}
			}
			.info-log {
				margin-bottom: 0px;
				position: relative;
				padding-left: 34px;
				&:before {
					position: absolute;
					left: 10px;
					content: " ";
					white-space: pre-line;
					background-color: $black;
					width: 1px;
					height: 100%;
					opacity: 0.5;
				}
				.info-detail {
					font-size: 12px;
					opacity: 0.5;
					&.left {
						margin-left: 10px;
					}
					&.right {
						margin-right: 10px;
					}
				}
			}
		}
		.next-page-btn {
			position: absolute;
			bottom: 0px;
			left: 50%;
			height: 50px;
			transform: translate(-50%, 0);
			opacity: 0.3;
			@include media("(max-width: 768px)") {
				display: none;
			}
		}
		.theme-block {
			width: 18rem;
			padding: 10px;
			display: flex;
			margin-top: 2rem;
			margin-left: auto;
			margin-right: auto;
			border-radius: .5rem;
			justify-content: space-around;
			box-shadow: var(--quickBtnShadow);
			.theme-btn {
				width: 3rem;
				height: 3rem;
				border: 0;
				border-radius: .5rem;
				// background-color: tomato;
				-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.15);
				-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.15);
				box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.15);
				transition: all ease .3s;
				&:hover {
					transform: scale(1.1);
				}
				&:active {
					transform: scale(.9);
				}
			}
		}
	}
	.history-main {
		font-size: 48px;
		padding-top: 50px;
		@include media("(max-width: 768px)") {
			margin-top: 0px;
		}
	}
	.history-part {
		margin-bottom: 50px;
		text-align: center;
		opacity: .5;
		p {
			font-size: 1rem;
			margin-bottom: 0px;
		}
		@include media("(max-width: 768px)") {
			margin-bottom: 0px;
			p {
				display: inline;
			}
		}
	}
	.history-log {
		@include media("(max-width: 768px)") {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.history-content {
			position: relative;
			padding-bottom: 30px;
			@include media("(max-width: 768px)") {
				padding-bottom: 0px;
			}
			&.content-year {
				@include media("(max-width: 768px)") {
					order: 0;
				}
			}
			&.content-log {
				padding-top: 0px;
				@include media("(max-width: 768px)") {
					order: 1;
				}
			}
			&.left {
				text-align: right;
				@include media("(max-width: 768px)") {
					text-align: left;
				}
			}
			&.right {
				text-align: left;
			}
			.history-year {
				margin-top: 5px;
				@include media("(max-width: 768px)") {
					margin-top: 40px;
					margin-bottom: 0px;
					font-size: 20px;
					opacity: 0.5;
				}
			}
			.history-title {
				@extend h2;
				&:hover {
					text-decoration: none;
				}
			}
			.history-desc {
				opacity: .6;
				position: relative;
				white-space: pre-line
			}
			.history-head-img {
				position: absolute;
				top: 0px;
				right: 0px;
				height: 150px;
				opacity: 0.15;
				@include media("(max-width: 768px)") {
					right: 15px !important;
					height: 100px;
					left: auto !important;
				}
				&.symmetry {
					right: auto;
					left: 0px;
				} 
			}
			.history-buttons {
				margin-top: 16px;
				.repo-btn {
					margin-left: 5px;
					margin-right: 5px;
					margin-bottom: 8px;
					font-size: 14px;
					border-radius: 15px;
					box-shadow: var(--quickBtnShadow);
					// &:hover {
					// 	background-color: #e6e6e6;
					// }
				}
			}
			p {
				margin-bottom: 0px;
				@include media("(max-width: 768px)") {
					opacity: 0.8;
					font-size: 16px;
				}
			}
		}
		.history-chart {
			flex-basis: 40px;
			@include media("(max-width: 768px)") {
				display: none;
			}
			.chart-box {
				width: 10px;
				height: 100%;
				background-color: $chart-box;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.card.card-link {
		margin-top: 2rem;
		padding: 1rem;
		color: black;
		border: 1px solid #cbcbcb;
		animation: card-link-kf 2s infinite alternate; 
		h2 {
			margin-top: 0px;
		}
		p {
			margin-bottom: 0px;
		}
		&:hover {
			background: #C5A4D8;
		}
	}
}

@keyframes card-link-kf {
	0%   { background: #ede7f6; } 
	100% { background: #dcd3e9; }
  }