body{
    font-family: 'Noto Sans KR', sans-serif;
    // background-color: $background;
	.alertBox {
		background-color: #ffffff;
	}
}

:root {
	--boldColor: #{$bold-black};
	--postImgShadow: 11px 11px 22px #d0d0d0, -11px -11px 22px #ffffff;
	--quickBtnShadow: 5px 5px 8px #e6e6e675, -5px -5px 8px #ffffff;
	--blockquoteBG: #{$blockquote-bg};
}

html[data-theme='dark'] {
	--boldColor: #fff;
	--postImgShadow: 11px 11px 22px #131212, -11px -11px 22px #101010;
	--quickBtnShadow: 5px 5px 8px #150f0f, -5px -5px 8px #0c0a0a;
	--blockquoteBG: #{$blockquote-night-bg};
	.octicon {
		fill: #fff;
	}
	.repo-btn {
		background-color: #3e3b42 !important;
		&:hover {
			background-color: darken(#3e3b42, 10%) !important;
		}
	}
	.btn.btn-transparent {
		background: none;
		&.icons,
		&.next-page-btn {
			&:hover {
				background: none !important;
			}
		}
	}
	.alertBox {
		background-color: var(--backgroundColor);
	}
}

h1 {
    margin-top: 50px;
    padding-left: 10px;  
    border-left: $striking 8px solid;
	color: var(--boldColor);
}

h2 {
    margin-top: 45px;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 600;
	color: var(--boldColor);
}

h3 {
    font-size: 22px;
    margin-top: 6px;
    margin-bottom: 6px;
	color: var(--boldColor);
	opacity: .9;
	// color: rgba($bold-black, 0.8);
}
h4 {
    font-size: 18px;
	color: var(--boldColor);
	opacity: .8;
}

p {
	font-weight: $notosans-thin;
    font-size: $p-size;
	@include media("(max-width: 768px)") {
		font-size: $p-mobile-size;
	}
	// color: $black;
}

code {
	margin-left: 3px;
	margin-right: 3px;
	padding: 1px 5px 1px 5px;
    color: $code;
    font-size: $code-size;
    font-family: 'SFMono-Light', sans-serif;
    font-weight: $notosans-thin;
	// background-color: $code-bg-color;
	border-radius: 5px;
	white-space: pre;
}

a {
    font-weight: $notosans-regular;
    color: $striking;
}

ol {
    font-size: $p-size;
    padding-left: 20px;
    li {
        margin-bottom: 5px;
		font-weight: $notosans-thin;
    }
}
ul {
    font-size: $p-size;
    padding-left: 20px;
	// list-style: none;
	&:not(.origin-ul) {
		list-style: none;
	}
    li {
        margin-bottom: 5px;
		font-weight: $notosans-thin;
    }
}

blockquote {
    padding-top: 5px;
    padding-bottom: 2px;
    background-color: var(--blockquoteBG);
    border-left: $blockquote-strike 4px solid;
    padding-left: 14px;
    p {
        margin-bottom: 4px;
        font-size: $p-size - 2px;
    }
}

img {
    max-height: 550px;
    max-width: 100%;
    height: auto;
}

div.highlighter-rouge {
	margin-bottom: 16px;
	padding: 10px 15px 10px 15px;
	background-color: $pre-bg-color;
	border-radius: 5px;
	font-size: $p-size;
	pre {
		margin-top: 0px;
		margin-bottom: 0px;
		&.highlight {
			background-color: $pre-bg-color;
			overflow-x: auto;
		}
	}
	code {
		margin-left: 0px;
        padding: 0px;
		color: $black;
    }
}

button {
	color: var(--textColor);
	&:active,
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
