@mixin media($queryString){
    @media #{$queryString} {
      @content;
    }
}

.navbar {
    background-color: white;
    box-shadow: 0px 0px 3px $gray-black;
    font-weight: $notosans-bold;
    font-size: $p-size;
}

.page-content {
    padding-top: $navbar-height + 40px;
    padding-bottom: $navbar-height + 40px;

    ul {
        list-style:none;
        padding-left: 0px;
    }
    li {
        margin-bottom: $layout-space;
    }
}

.card-list {
    padding: 40px;
    .card-date {
        color: $highlight;
    }
    .card-title {
        font-size: 30px;
        font-weight: $notosans-bold;
        color: $black;
        
        @include media("(max-width: 992px)") {
            font-size: 20px;
        }
    }
    .card-subtitle {
        color: $gray-black;
    }
    @include media("(max-width: 992px)") {
        padding: 20px;
    }
}

.card-post {
    padding: 100px;
    @include media("(max-width: 992px)") {
        padding: 20px 10px 20px 10px;
    }
}

.card-category {
    padding: 0px 40px 0px 40px;
}

.card-tags {
    padding: 0px 40px 0px 40px;
}

.post {
    .post-header {
        padding-top: 50px;
        // padding-bottom: 50px;
    }
    .post-title {
        font-size: 40px;
        font-weight: $notosans-bold;
        color: $black;
    }
    .post-subtitle {
        padding-bottom: 30px;
        font-weight: $notosans-medium;
    }
}


.footer {
  bottom: 0;
  width: 100%;
  border-color: #c2c2c2;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  padding: 50px 0px 50px 0px;

  .footer-block {
    margin: 20px 0;
  }
  a {
      color: $gray-black;
  }
}
