@mixin media($queryString){
    @media #{$queryString} {
      @content;
    }
}
::-moz-selection {
   background: $striking;
   color: #fff;
}
::selection {
   background: $striking;
   color: #fff;
}

.parallax {
	position: absolute;
	margin-bottom: 350px;
	left: 0px;
	top : 180px;
	width:100%;
	height: 350px;
	// background-image: url("/assets/img/project-header-img.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include media("(max-width: 992px)") {
		top : 100px;
	}
	@include media("(max-width: 768px)") {
		top : 50px;
	}
}
.post.project,
.post.devnote {
	margin-top: 430px;
    @include media("(max-width: 768px)") {
		margin-top: 390px;
    }
}
.nav-menu {
	height: 180px;
    // background-color: white;
    // box-shadow: 0px 0px 3px $gray-black;
    font-weight: $notosans-bold;
    font-size: $p-size;
	align-item: center;
    @include media("(max-width: 992px)") {
		height: 100px;
    }
    @include media("(max-width: 768px)") {
		height: 50px;
    }
	.nav-link {
		margin-left: 10px;
		font-size: 20px;
		color: rgba(0,0,0,0.5);
		transition: color .3s ease-out;
		-moz-transition: color .3s ease-out;
		-webkit-transition: color .3s ease-out;
		-o-transition: color .3s ease-out;
		@include media("(max-width: 768px)") {
			margin-left: 5px;
			font-size: 16px;
		}
		@include media("(max-width: 576px)") {
			margin-left: 0px;
			font-size: 14px;
		}
		&:hover {
			color: $black;
		}
		&.active {
			font-weight: 600;
			color: $black;
			&:before {
				margin-top: 0px;
				margin-left: -10px;
				position: absolute;
				width: 16px;
				height: 16px;
				border-radius: 8px;
				content: " ";
				white-space: pre;
				background-color: $nav-item-active-content;
				z-index: -1;
				@include media("(max-width: 576px)") {
					width: 10px;
					height: 10px;
					border-radius: 5px;
				}
			}
		}
	}
}

.page-content {
    // padding-top: $navbar-height + 40px;
    padding-bottom: $navbar-height + 40px;
}

.pages-header {
	background-color: skyblue;
	height: 300px;
	position: relative;
	.header-img {
		position: absolute;
		right: 0px;
		height: 500px;
	}
}

.card-list {
    padding: 40px;
    .card-date {
        color: $themeColor;
    }
    .card-title {
        font-size: 30px;
        font-weight: $notosans-bold;
        color: $black;
        
        @include media("(max-width: 992px)") {
            font-size: 20px;
        }
    }
    .card-subtitle {
        color: $gray-black;
    }
    @include media("(max-width: 992px)") {
        padding: 20px;
    }
}

.post-end { 
	// margin-top: 50px;
	// margin-bottom: 50px;
	border-top: 1px solid #bbb;
	text-align: center;
	&:after {
		content: '</>';
		display: inline-block;
		position: relative; 
		top:-14px;
		padding: 0 10px;
		background: #fFFFFF;
		color: #bbb;
		font-size: 18px;
	}
}

.card {
	border: none;
	&.card-post {
		margin-top: 50px;
		padding-bottom: 150px;
		@include media("(max-width: 992px)") {
			margin-top: 10px;
		}
		ul {
			li {
				&:before {
					content: "\2022";
					color: $gray-black;
					font-weight: bold;
					display: inline-block; 
					width: 1em;
					margin-left: -1em;
				}
			}
		}
	}
	
	&.card-recommendation {
		.btn {
			width: 100%;
			text-align: center;
			color: $black;
			&:hover {
				background-color: #f7f7f7;
			}
			.octicon {
				opacity: 0.5;
			}
		}
	}
	
	&.card-comment {
		margin-top: 150px;
		@include media("(max-width: 992px)") {
			margin-top: 5px;
			padding: 20px 10px 20px 10px;
		}
	}

	&.card-category {
		padding: 0px 40px 0px 40px;
	}

	&.card-tags {
		padding: 0px 40px 0px 40px;
	}
}

.post-container-fluid {
	padding-left: 250px;
	padding-right: 250px;
	@include media("(max-width: 1600px)") {
		padding-left: 200px;
		padding-right: 200px;
	}
	@include media("(max-width: 1400px)") {
		padding-left: 100px;
		padding-right: 100px;
	}
	@include media("(max-width: 1200px)") {
		padding-left: 50px;
		padding-right: 50px;
	}
	@include media("(max-width: 992px)") {
		padding-left: 10px;
		padding-right: 10px;
	}
	@include media("(max-width: 768px)") {
		padding-left: 0px;
		padding-right: 0px;
	}
	.post-img {
		width: 100%;
		height: 270px;
		margin-bottom: 80px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 150px;
		// background: #fffef5;
		background-color: linear-gradient(145deg, #ffffff, #e1e1e1);
		box-shadow:  11px 11px 22px #919191, 
					 -11px -11px 22px #ffffff;
		@include media("(max-width: 768px)") {
			margin-bottom: 20px;
			border-radius: 0px;
			box-shadow: none;
		}
	}
}

.post {
	padding-left: 180px;
	padding-right: 180px;
	@include media("(max-width: 1200px)") {
		padding-left: 100px;
		padding-right: 100px;
	}
	@include media("(max-width: 992px)") {
		padding-left: 10px;
		padding-right: 10px;
	}
	@include media("(max-width: 768px)") {
		padding-left: 0px;
		padding-right: 0px;
	}
	.quick-bar {
		position: fixed;
		// margin-top: 100px;
		top: 250px;
		margin-left: -200px;
		z-index: 101;
		&.hide {
			opacity: 0;
		}
		&.show {
			opacity: 1;
		}
		.quick-btn {
			margin-bottom: 15px;
			display: block;
			width: 70px;
			height: 70px;
			border: 0px;
			border-radius: 35px;
			color: $themeColor;
			background: #FFFFFF;
			-webkit-box-shadow: 5px 5px 8px #e6e6e6, 
			             -5px -5px 8px #ffffff;
			-moz-box-shadow: 5px 5px 8px #e6e6e6, 
			             -5px -5px 8px #ffffff;
			box-shadow:  5px 5px 8px #e6e6e6, 
			             -5px -5px 8px #ffffff;
		}
	}
}

.post-list {
	@include media("(max-width: 768px)") {
		padding-left: 0px;
	}
	.post-part {
		margin-top: 80px;
		margin-bottom: 80px;
		@include media("(max-width: 768px)") {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

.post-info {
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	@include media("(max-width: 992px)") {
		padding: 20px 10px 20px 10px;
	}
	@include media("(max-width: 768px)") {
		padding-left: 0px;
		padding-right: 0px;
	}
	.post-category {
		margin-bottom: 5px;
		font-size: 15px;
		font-weight: $notosans-medium;
		color: $themeColor;
		a {
			color: $themeColor;
			&:hover {
				 text-decoration: none; 
			}
		}
	}
	.post-title {
		margin-bottom: 5px;
		font-size: 40px;
		font-weight: $notosans-bold;
		color: $bold-black;
		@include media("(max-width: 768px)") {
			font-size: 30px;
		}
	}
	.post-subtitle {
		font-size: 22px;
		font-weight: $notosans-medium;
		color: $gray-black;
		@include media("(max-width: 768px)") {
			font-size: 20px;
		}
	}
	.post-sample {
		font-size: 16px;
	}
	.post-tags-box {
		.post-tag {
			margin-right: 5px;
			padding: 3px 7px 3px 7px;
			display: inline-block;
			// border-radius: 3px;
			// color: #FFFFFF;
			background-color: $themeColor;
			opacity: 0.8;
			font-size: 100%;
			font-weight: normal;
			// cursor: pointer;
		}
	}
	
	&.post-card {
		@include media("(min-width: 768px)") {
			cursor: pointer;
			opacity: 0.8;
			&:hover {
				// margin-left: 10px;
				opacity: 1;
			}
		}
		.post-title {
			margin-bottom: 0px;
			@include media("(max-width: 768px)") {
				font-size: 26px;
			}
		}
		.post-subtitle {
			margin-bottom: 5px;
			@include media("(max-width: 768px)") {
				font-size: 16px;
			}
		}
		.post-sample {
			margin-bottom: 20px;
			@include media("(max-width: 768px)") {
				margin-bottom: 10px;
				font-size: 15px;
				opacity: 0.5;
			}
		}
		.post-tag {
			@include media("(max-width: 768px)") {
				font-size: 12px;
			}
		}
	}
}

/* Foter */
.footer {
	bottom: 0;
	width: 100%;
	border-color: #e7e8e6;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	padding: 50px 0px 50px 0px;
	background-color: #f5f7f2;
	.my-info {
		color: #a2a3a0;
		@include media("(max-width: 576px)") {
			margin-bottom: 0px !important;
			justify-content: center !important;
			align-items: center;
		}
		.info-desc {
			color: #a2a3a0;
			&.my-name {
				font-size: 22px;
				font-weight: 400;
				margin-bottom: 5px;
			}
			&.my-email {
				font-size: 14px;
				margin-bottom: 0px;
			}
			&.my-kakao {
				font-size: 14px;
				margin-bottom: 0px;
			}
			.desc-icon {
				opacity: 0.3;
				margin-right: 10px;
			}
		}
	}
	.my-link {
		@include media("(max-width: 576px)") {
			margin-top: 20px !important;
			margin-bottom: 20px !important;
		}
		@include media("(max-width: 768px)") {
			margin-top: 45px;
			margin-bottom: 45px;
		}
		.icons {
			opacity: 0.3;
		}
	}
	.my-menu {
		@include media("(max-width: 576px)") {
			justify-content: center !important;
			margin-bottom: 0px !important;
		}
		.quick-menu {
			margin-left: 10px;
			color: #a2a3a0;
			height: 30px;
			@include media("(max-width: 576px)") {
				margin-left: 5px;
				margin-right: 5px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.my-info,
	.my-link,
	.my-menu {
		@include media("(max-width: 576px)") {
			margin-bottom: 30px;
		}
	}
}

/* 404 - page */
.none-page {
	padding-top: 80px;
	
	@include media("(max-width: 576px)") {
		padding-top: 85px;
	}
	.octicon {
		margin-right: 20px;
		@include media("(max-width: 768px)") {
			margin-right: 10px;
			height: 45px;
			width: 45px;
		}
		@include media("(max-width: 576px)") {
			height: 30px;
			width: 30px;
			display: block;
		}
	}
	.responsive {
		@include media("(max-width: 576px)") {
			display: block;
		}
	}
	img {
		@include media("(max-width: 768px)") {
			margin-top: 80px;
		}
	}
}

/* Alert - Box */
.alertBox{
	position: fixed;
    width: 400px;
    height: auto;
	padding: 13px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 100px;
    background: #ffffff;
    opacity: 0;
	border-radius: 25px;
	box-shadow:  11px 11px 22px #919191, 
				 -11px -11px 22px #ffffff;
	z-index: 101;
	@include media("(max-width: 768px)") {
		width: 80%;
	}
	@include media("(max-width: 576px)") {
		width: 90%;
	}
}
.alertBoxShow {
	animation: fadeInOut 4s linear forwards;
}
@keyframes fadeInOut {
 0% { opacity: 0; }
 10% { opacity: 1; } 
 90% { opacity: 1; } 
 100% { opacity: 0; } 
}
