@mixin media($queryString){
    @media #{$queryString} {
      @content;
    }
}

// Resume
$resumeColor: #a296ff;
$resumeText: #313539;
$semiColor: #a296ff;
$resumeHighlightColor: #c7ceff;
$border: #acbaee;

.container-resume {
    width: 100%;
    max-width: 55rem;
    margin: auto;
	
	::-moz-selection {
	   background: $resumeColor;
	   color: #fff;
	}
	::selection {
	   background: $resumeColor;
	   color: #fff;
	}

}
/* RESUME */
.resume {
	padding-top: 10rem;
    font-size: 1.25rem;
	font-weight: 400;
	color: $resumeText;


	/* PRINT */
	@media print {
		margin-top: 1rem;
		.col-md-4 {
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
		}
		.col-md-8 {
			flex: 0 0 66.66667%;
			max-width: 66.66667%;
		}
	}




	li,  p {
		font-weight: 400;
		color: $resumeText;
		@include media("(max-width: 768px)") {
			font-size: 16px;
		}
	}

	

	@include media("(max-width: 768px)") { 
		padding-top: 2rem;
	}
	.introduce {
		height: auto;
		padding-bottom: 100px;
		position: relative;
		@include media("(max-width: 768px)") {
			padding-bottom: 40px;
			height: auto;
		}
	}
	.resume-block {
		margin-bottom: 7.5rem;
		@include media("(max-width: 768px)") { 
			margin-bottom: 6rem;
		}
		@media print {
			margin-bottom: 3.5rem;
		}
	}

	
	.name {
		margin-top: 0px;
		border-left: none;
		padding-left: 0px;
		font-weight: bold;
		position: relative;  
		&::after {
			content: '.';
			font-size: 2rem;
			color: $resumeColor;
			position: absolute; 
			bottom: -0.125rem;
		}
		&::before {
			margin-top: 0px;
			margin-left: -10px;
			position: absolute;
			width: 24px;
			height: 24px;
			border-radius: 8px;
			content: " ";
			white-space: pre;
			background-color: $resumeHighlightColor;
			z-index: -1;
			transform: rotate(-12deg);
		}
		.name-en {
			font-size: 1.5rem;
			margin-left: 0.5rem;
			@include media("(max-width: 768px)") {
				font-size: 1.25rem;
			}
		}
	}

	.title {
		margin-top: 0px;
		position: relative; 
		font-size: 2rem;
		
		// background: linear-gradient(to right, rgb(219, 225, 248), rgba(219, 225, 248, 0.2) 90%); 
		&::before {
			margin-top: 0px;
			margin-left: -10px;
			position: absolute;
			width: 24px;
			height: 24px;
			border-radius: 8px;
			content: " ";
			white-space: pre;
			background-color: $resumeHighlightColor; 
			z-index: -1;
			transform: rotate(-12deg);
		}
	}

	.project-row .desc {
		// margin-bottom: 2rem;
		a {
			color: $semiColor;
			/* font-weight: 500; */
			text-decoration: underline;
		}
	}

	hr.divider {
		background: #d9d9d9;
		height: 1px;
		border: 0;
		margin-bottom: 2rem;
	}

	.project-title {
		font-size: 1.5rem;
		position: relative;
		// border-bottom: 3px double $border;
		display: inline;
		font-weight: 600;
		a {
			color: $bold-black;
			font-weight: 600;
			&:hover {
				color: $resumeColor;
			}
		}
		&::after {
			// content: '.';
			// font-size: 1.5rem;
			// color: $border;
			// position: absolute;
			// // bottom: -0.525rem;
			// bottom: -0.125rem;
			// margin-left: 0.125rem;
		}
	}

	.url-block {
		border: 1px solid #d9d9d9;
		border-radius: 0.5rem;
		width: 100%;
		padding: 1rem;
		line-height: 1.25rem;
		margin: 1rem 0rem;
		position: relative;
		&::before { 
			position: absolute;
			top: -0.75rem;
			left: 0.5rem;
			font-size: 0.675rem;
			background: white;
			padding: 0rem 0.5rem;
		}
		&.github {
			&::before {
				content: 'GitHub';
			}
		}
		&.service {
			&::before {
				content: 'Service';
			}
		}
		a {
			font-size: 0.875rem;
			word-break: break-all;
			color: $resumeColor;
		}
	}

	.project-description {
		margin: 0.75rem 0rem;
	}

	.semi-title {
		font-size: 14px;
		font-weight: 600;
		color: $semiColor;
		margin-bottom: 0.25rem;
	}

	.semi-list {
		padding-left: 0px;
		margin: 0.25rem 0rem 1rem 0rem;
		&.origin-ul {
			padding-left: 1.5rem;
			// list-style: disc;
			// & + & {
			// 	list-style: circle;
			// }
		}
		li {
			
			margin: 0.25rem 0rem;
		}
	}

	.desc {
		@include media("(max-width: 768px)") {
			margin-top: 1.5rem;
		}
		@media print {
			margin-top: 0rem;
		}
		p {
			margin-bottom: 1.5rem;
		}
	}

	h4 {
		margin-top: 0.5rem;
	}
}

.tags {
    line-height: 2rem;
    margin: 0.75rem 0rem 1.5rem 0rem;
    font-size: 14px;
}

.resume-introduce {
	.intro-block {
		margin-bottom: 2rem;
		p {
			margin-bottom: 0.25rem;
		}
	}
}

.resume-profile {	
	.profile-img {
		height: 250px;
		border-radius: .5rem;
		@include media("(max-width: 768px)") { 
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 3rem;
		}
		@media print {
			margin-bottom: 0rem;
		}
	}

	.info-list {
		margin-top: 2rem;
		padding-left: 0.5rem;
		.info {
			display: flex;
			align-items: center;
			margin-bottom: 0.75rem;
			.info-icon {
				margin-right: 1.25rem;
			}
			a {
				font-weight: 400;
				text-decoration: underline;
				color: $resumeText;
			}
		}
	}
}

.resume-opensource {

}

.resume-education {
	.info-detail {
		margin-left: 0.5rem;
		font-size: 14px;
		opacity: 0.6;
	}
}


.stress {
	font-weight: 500;
	text-decoration: underline;
	// text-decoration-style: wavy;
	text-decoration-color: #acbaee75;
	text-decoration-thickness: 1px;
}

.tag-badge {
    font-size: 14px;
	font-weight: 400;
}

.out-link { 
    color: #acbaee;
    font-size: 1rem;
}

.print-empty-yuristrap {
	@media print {
		width: 100%;
		margin-top: 14rem;
	}
}
.info-log {
	margin-bottom: 0.675rem;
}