// Theme
$background: #ffffff;
$themeColor: #B897FF;
$themeColorOpa: #6BC59C;

// Colors
$bold-black: #212529;
$black: #404640;
$gray-black: #6f667a;

// a
$striking: #B897FF;
// pre
$pre-bg-color: #EDE7F6;
// code
$code: #5b635b;
$code-bg-color: #EDE7F6;
// blockquote
$blockquote-bg: #FDF9FD;
$blockquote-strike: #B897FF;
// navbar active
$nav-item-active: #363036;
$nav-item-active-content: #C5A4D8;

// 100 300 400 500 700 900
$notosans-thin: 300;
$notosans-regular: 400;
$notosans-medium: 500;
$notosans-bold: 700;

// text size
$p-size: 18px;
$code-size: 17px;

// bootstrap size


// div size
$navbar-height: 90px;
$layout-space: 20px;
