// Colors
$background: #dddfe6;
// $highlight: #f1404b;
$highlight: #d4333e;
$black: #252c41;
$gray-black: #384058;
$font-background: #f8f8f8;
// $text-highlight: #d4333e;
$text-highlight: #f1404b;
$striking: #cf646b;
$blockquote: #fcf7f8;
$blockquote-strike: #eec5c6;
$code: #636363;
// $striking: #A593E0;

$notosans-regular: 400;
$notosans-medium: 500;
$notosans-bold: 700;

$p-size: 18px;

// bootstrap size

// Size
$navbar-height: 90px;
$layout-space: 20px;