// Colors
$background: #dddfe6;
$highlight: #f1404b;
$black: #252c41;
$gray-black: #384058;
$font-background: #f4f5f9;
$text-highlight: #d4333e;
$striking: #cf646b;
// $striking: #A593E0;

$notosans-regular: 400;
$notosans-medium: 500;
$notosans-bold: 700;

// bootstrap size

// Size
$navbar-height: 90px;
$layout-space: 20px;