<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="container">
            {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
	
var app = new Vue({
	el: '#app',
	delimiters: ['${', '}'],
	data: {
		alertMsg: '알림 메시지 !',
		themes: [
			'#B897FF',
			'#C5A4D8',
			'#EDE7F6',
			'#FDF9FD',
			// '#6f667a',
			'#212529'
		],
		logs: [
			{
				position: 'RIGHT',
				year: 2020,
				title: 'DailyGreen',
				content: '깃허브 잔디밭을 원동력삼아 매일 개발하며 공부하자를 모티브로 모인 개발 단체입니다. 제작하며 공부하는것을 즐거움으로 어기고 서로 배운것을 공유합니다. (2019-',
				orgLink: 'https://github.com/DailyGreen',
				img: 'https://avatars0.githubusercontent.com/u/40048911?s=200&v=4',
				repos: [
					{
						name: 'GAPA',
						url: 'https://github.com/DailyGreen/GAPA'
					}
				]
			},
			{
				position: 'LEFT',
				year: 2017,
				title: 'SHAPE-OF-YOU',
				content: '멀티 게임',
				img: 'https://github.com/Lazyevilsquid/Shape-Of-You-Client/blob/master/Assets/Sprites/UI/thief.png?raw=true',
				repos: [
					{
						name: 'SHAPE-OF-YOU-CLIENT',
						url: 'https://github.com/Lazyevilsquid/Shape-Of-You-Client/releases'
					}
				]
			},
			{
				position: 'RIGHT',
				title: 'KGSHC',
				content: '한국게임과학고등학교 커뮤니티 사이트입니다.\n웹을 공부하고 처음 제작해본 싸이트로, 풀스택을 모두 담당했습니다. (현재는 운영문제로 중단 되었습니다.)',
				img: 'https://github.com/kyechan99/KGSHC/blob/master/images/logo.png?raw=true',
				repos: [
					{
						name: 'LINK',
						url: '',
						msg: '현재는 서버를 닫았습니다.'
					}
				]
			},
			{
				position: 'LEFT',
				title: 'LEMONADE API',
				content: '어쩌구 저쩌구 프로젝트',
				img: 'https://avatars0.githubusercontent.com/u/27432458?s=200&v=4',
				repos: [
					{
						name: 'API',
						url: '',
						msg: '현재 개발중입니다.'
					}
				]
			},
			{
				position: 'RIGHT',
				year: 2016,
				title: 'GANZINAM',
				content: '간지 철철, 간지 나는 남자들로 구성된 게임 제작팀입니다.\n기획1명, 개발자3명, 디자이너2명으로 이루어진 팀으로 교내 및 교외 공모전에 여러 참여했습니다. 퍼즐, 리듬, 스토리 게임 등 여러 게임 장르에 도전하며 모두 5개의 게임을 만들었습니다. (2016.7 ~ 2017.3)',
				orgLink: 'https://github.com/GanZinam',
				img: 'https://avatars2.githubusercontent.com/u/20042469?s=200&v=4',
				repos: [
					{
						name: 'Bing-Bong',
						url: '/games/2017/03/25/BingBong.html'
					},
							{
						name: 'Rock-U',
						url: '/games/2017/03/25/RockU.html'
					},
					{
						name: 'LongTimeNoSee',
						url: '/games/2017/03/25/LongTimeNoSee.html'
					},
							{
						name: 'D-O',
						url: '/games/2016/11/07/DO.html'
					},
					{
						name: 'RoadOfDead',
						url: '/games/2017/03/25/RoadOfDead.html'
					}
				]
			},
		],
		alertTimer: ''
	},
	created() {
	},
	methods: {
		positionCheckLeft: function(pos) {
			return { 
				'left order-first': pos=='RIGHT',
				'right order-last': pos=='LEFT'
			}
		},
		positionCheckRight: function(pos) {
			return { 
				'left order-first': pos=='LEFT',
				'right order-last': pos=='RIGHT'
			}
		},
		showAlertBox: function() {
			var alertBox = document.querySelector('.alertBox');
			if (alertBox.classList.contains('alertBoxShow')) {
				// alertBox 실행 중이면 삭제
				alertBox.classList.remove('alertBoxShow');
				clearTimeout(this.alertTimer);
			}
			
			// remove 와 add 사이에 alertBox를 한번 호출해 주어야 됨
			alertBox.offsetWidth;
			alertBox.classList.add('alertBoxShow');
			
			this.alertTimer = setTimeout( function() {
				// 4초를 변경하려면 _sass/jebl/_layout/.alertBoxShow 의 애니메이션 시간도 변경해줘야함
				alertBox.classList.remove('alertBoxShow');
			}, 4000);
		},
		openNewPage: function(url, msg) {
			if (url == '') {
				this.alertMsg = msg;
				this.showAlertBox();
			}
			else
				window.open(url, "_blank");
		},
		copyThemeColorToClipboard: function(cc) {
			var dummy = document.createElement('input');
			document.body.appendChild(dummy);
			dummy.value = cc;
			dummy.select();
			document.execCommand('copy');
			document.body.removeChild(dummy);
		}
	}
})
</script>
<script type="text/javascript">
jQuery(function ($) {
	$('#next-page-btn').click(function() {
		$('html, body').animate({
			scrollTop: $('.history-main').offset().top
		}, 500);
	})
})
</script>
</html>