<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="container">
            {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {%- include script.html -%}
<script>
	
var app = new Vue({
	el: '#app',
	delimiters: ['${', '}'],
	data: {
		alertMsg: '알림 메시지 !',
		themes: [
			'#B897FF',
			'#C5A4D8',
			'#EDE7F6',
			'#FDF9FD',
			// '#6f667a',
			'#212529'
		],
		logs: [
			{
				position: 'RIGHT',
				year: 2021,
				title: 'DailyGreen',
				content: '깃허브 잔디밭을 원동력삼아 매일 개발하며 공부하자를 모티브로 모인 개발 단체입니다. 제작하며 공부하는것을 즐거움으로 어기고 서로 배운것을 공유합니다. (2018 ~ )',
				orgLink: 'https://github.com/DailyGreen',
				img: 'https://avatars0.githubusercontent.com/u/40048911?s=200&v=4',
				repos: [
					{
						name: 'GAPA (웹)',
						url: 'https://github.com/DailyGreen/GAPA'
					},
					{
						name: 'TILER (게임)',
						url: 'https://github.com/DailyGreen/Tiler-Client'
					}
				]
			},
			{
				position: 'LEFT',
				year: 2020,
				title: 'BLUR PENCIL',
				content: '군 복무중 osam 프로그램의 개발 해커톤에서\n개발자 학우들과 팀을 꾸려 제작한 웹 프로젝트입니다.\n이미지 자동 검열 클라우드 서비스로,\n군 보안을 강화시킨다는 목표를 가지고 있습니다.',
				orgLink: 'https://github.com/osamhack2020/Cloud_BlurPencil_GonNyong4',
				img: 'https://github.com/kyechan99/Cloud_BlurPencil_GonNyong4/raw/master/client/src/images/logo.png',
				repos: [
					{
						name: 'BLUR PENCIL 소개',
						url: 'http://localhost:4000/web/2020/11/01/Blur-Pencil.html'
					}
				]
			},
			{
				position: 'RIGHT',
				title: 'Yuristrap',
				content: '웹 개발을 더욱 빠르고 편리하게 도와주는 프레임워크입니다.\n타 프레임워크 의존도를 줄이고 순수 프로젝트만을 제작하기 위해 개발을 시작하였습니다.',
				orgLink: 'https://github.com/DailyGreen',
				img: 'https://avatars1.githubusercontent.com/u/68942934?s=200&v=4',
				repos: [
					{
						name: 'Yuristrap',
						url: 'https://github.com/yuristrap/yuristrap'
					},
					{
						name: 'Yuristrap Docs',
						url: 'https://yuristrap.github.io/'
					}
				]
			},
			{
				position: 'LEFT',
				year: 2017,
				title: 'SHAPE-OF-YOU',
				content: '처음으로 멀티를 이용한 게임입니다.\n간단한 게임이지만 네트워크에 대한 기초 지식과 여러 시도를 해볼 수 있었습니다. 간단함과 온라인을 무기로 게임 전시를 통해 어린 친구들에게 주목을 받을 수 있었습니다.	',
				img: 'https://github.com/Lazyevilsquid/Shape-Of-You-Client/blob/master/Assets/Sprites/UI/thief.png?raw=true',
				repos: [
					{
						name: 'SHAPE-OF-YOU-CLIENT',
						url: 'https://github.com/Lazyevilsquid/Shape-Of-You-Client/releases'
					}
				]
			},
			{
				position: 'RIGHT',
				title: 'KGSHC',
				content: '한국게임과학고등학교 커뮤니티 사이트입니다.\n웹을 공부하고 처음 제작해본 사이트로, 풀스택을 모두 담당했습니다.\n(현재는 서버 운영문제로 중단 되었습니다.)',
				img: 'https://github.com/kyechan99/KGSHC/blob/master/images/logo.png?raw=true',
				repos: [
					{
						name: 'LINK',
						url: '',
						msg: '현재는 서버를 닫았습니다.'
					}
				]
			},
			{
				position: 'LEFT',
				title: 'LEMONADE API',
				content: 'DB 연동을 개발중인 게임에 쉽게 연동하고\n리더보드, 업적 등의 기능을 제공합니다.\n친구와 데이터를 공유하거나\n	서로 다른 게임간의 아이템의 거래가 가능하도록 제작하였습니다.\n(현재는 서버 운영문제로 중단 되었습니다.)',
				img: 'https://avatars0.githubusercontent.com/u/27432458?s=200&v=4',
				repos: [
					{
						name: 'API',
						url: 'https://github.com/LemonClub',
						msg: '현재 운영중이지 않습니다.'
					}
				]
			},
			{
				position: 'RIGHT',
				year: 2016,
				title: 'GANZINAM',
				content: '간지 철철, 간지 나는 남자들로 구성된 게임 제작팀입니다.\n기획1명, 개발자3명, 디자이너2명으로 이루어진 팀으로 교내 및 교외 공모전에 여러 참여했습니다. 퍼즐, 리듬, 스토리 게임 등 여러 게임 장르에 도전하며 모두 5개의 게임을 만들었습니다. (2016.7 ~ 2017.3)',
				orgLink: 'https://github.com/GanZinam',
				img: 'https://avatars2.githubusercontent.com/u/20042469?s=200&v=4',
				repos: [
					{
						name: 'Bing-Bong',
						url: '/games/2017/03/25/BingBong.html'
					},
							{
						name: 'Rock-U',
						url: '/games/2017/03/25/RockU.html'
					},
					{
						name: 'LongTimeNoSee',
						url: '/games/2017/03/25/LongTimeNoSee.html'
					},
							{
						name: 'D-O',
						url: '/games/2016/11/07/DO.html'
					},
					{
						name: 'RoadOfDead',
						url: '/games/2017/03/25/RoadOfDead.html'
					}
				]
			},
		],
		alertTimer: ''
	},
	created() {
	},
	methods: {
		positionCheckLeft: function(pos) {
			return { 
				'left order-first': pos=='RIGHT',
				'right order-last': pos=='LEFT'
			}
		},
		positionCheckRight: function(pos) {
			return { 
				'left order-first': pos=='LEFT',
				'right order-last': pos=='RIGHT'
			}
		},
		showAlertBox: function() {
			var alertBox = document.querySelector('.alertBox');
			if (alertBox.classList.contains('alertBoxShow')) {
				// alertBox 실행 중이면 삭제
				alertBox.classList.remove('alertBoxShow');
				clearTimeout(this.alertTimer);
			}
			
			// remove 와 add 사이에 alertBox를 한번 호출해 주어야 됨
			alertBox.offsetWidth;
			alertBox.classList.add('alertBoxShow');
			
			this.alertTimer = setTimeout( function() {
				// 4초를 변경하려면 _sass/jebl/_layout/.alertBoxShow 의 애니메이션 시간도 변경해줘야함
				alertBox.classList.remove('alertBoxShow');
			}, 4000);
		},
		openNewPage: function(url, msg) {
			if (url == '') {
				this.alertMsg = msg;
				this.showAlertBox();
			}
			else
				window.open(url, "_blank");
		},
		copyThemeColorToClipboard: function(cc) {
			var dummy = document.createElement('input');
			document.body.appendChild(dummy);
			dummy.value = cc;
			dummy.select();
			document.execCommand('copy');
			document.body.removeChild(dummy);
		},
		nextPageBtn: function() {
			$('html, body').animate({
				scrollTop: $('.history-main').offset().top
			}, 500);
		}
	}
})
</script>
</html>