<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="container">
            {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {%- include script.html -%}
<script>
	
var app = new Vue({
	el: '#app',
	delimiters: ['${', '}'],
	data: {
		myRepos: []
	},
	created() {
		this.loadRepoData();
	},
	methods: {
		getRepoData: function(url) {
			console.log(url);
			$.ajax({
				method: "GET",
				url: `https://api.github.com/repos/${url}`,
			}).then((res) => {
				this.myRepos.push({
					name: res.name,
					url: res.full_name,
					desc: res.description,
					stars: res.stargazers_count
				});
			});
		},
		loadRepoData: function() {
			$.ajax({
				method: "GET",
				url: "../data/repos.json"
			}).then((res) => {
				console.log(res);
				console.log(typeof res);
				// res.foreach(repo => this.getRepoData(repo.url));
				res.forEach(repo => {
					this.getRepoData(repo.url)
				});
				// Array.from(res).foreach(repo => this.getRepoData(repo.url));
			});
		},
		openNewPage: function(url) {
			if (url == '') {
				this.showAlertBox();
			}
			else
				window.open("https://github.com/" + url, "_blank");
		},
	}
})
</script>
</html>