
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
	<div class="alertBox text-center">주소가 복사되었습니다.</div>
    <main class="page-content" aria-label="Content">
		<div class="container-fluid post-container-fluid">
			{% if page.haveImg == true %}
				<div class="post-img" style="background-image: url(/assets/img/head-img/{{ page.headerImg }})"></div>
			{%- else -%}
				<div class="post-img" style="background-image: url(https://images.pexels.com/photos/262488/pexels-photo-262488.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"></div>
			{% endif %}
		</div>
      <div class="container">
		<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
			<div class="quick-bar hide" id="quick-bar">
				<button class="quick-btn" id="up-btn">
					{% octicon triangle-up height:24 %}
				</button>	
				<button class="quick-btn linkBtn" OnClick="javascript:copyUrlToClipboard(); showAlertBox();">
					{% octicon link height:24 %}
				</button>
			</div>
		  <header class="post-header">
			<div class="post-info">
				<p class="post-category p-name" itemprop="name headline">
					{%- if page.categories[0] == 'Lib'-%}
						<a href="/DevNote">개발노트 / 연구</a>
					{%- else if page.categories[0] == 'Dev' -%}
						<a href="/DevNote">개발노트 / 기술</a>
					{%- else if post.categories[0] == 'Games' -%}
						<a href="/Project">프로젝트 / 게임</a>
					{%- else if post.categories[0] == 'App' -%}
						<a href="/Project">프로젝트 / 앱</a>
					{%- else -%}
						/ {{ page.categories[0] }}
					{%- endif -%}
				</p>
				<p class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</p>
				<p class="post-subtitle p-name" itemprop="name headline">{{ page.description }}</p>
				<div class="post-tags-box">
					{%- for tag in page.tags -%}
						<span class="post-tag">{{ tag }}</span>
					{%- endfor -%}
				</div>
			</div>
		  </header>

		  <div class="card card-post">
			<div class="post-content e-content" itemprop="articleBody">
			  {{ content }}
			</div>
		  </div>

		  <hr class="post-end"/>
			
		  <div class="card card-recommendation">
			<div class="row">
				<div class="col">
					<button class="btn" onclick='document.location.href="{{ page.previous.url }}"'>{% octicon chevron-left height:24 %} 이전글</button>
				</div>
				<div class="col">
					<button class="btn" onclick='document.location.href="{{ page.next.url }}"'>다음글 {% octicon chevron-right height:24 %}</button>
				</div>
			</div>
		  </div>
			
		  <div class="card card-comment">
			{%- if site.disqus.shortname -%}
			  {%- include disqus_comments.html -%}
			{%- endif -%}

			<div id="disqus_thread"></div>  
		  </div>                         

		  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
		</article>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script type="text/javascript">
	jQuery(function ($) {
		$('#up-btn').click(function() {
			$('html, body').animate({
				scrollTop: $('html, body').offset().top
			}, 500);
		})
	})
	  
	$(document).ready(function() {
		var myID = document.getElementById("quick-bar");

		$(document).scroll(function() {
		  var y = $(this).scrollTop();
		  if (y >= 280) {
			myID.className = "quick-bar show";
		  } else {
			myID.className = "quick-bar hide";
		  }
		});

	});
	function copyUrlToClipboard() {
		var dummy = document.createElement('input'),
		text = window.location.href;

		document.body.appendChild(dummy);
		dummy.value = text;
		dummy.select();
		document.execCommand('copy');
		document.body.removeChild(dummy);
	}
  </script>
</html>



<script>
var alertBox = document.querySelector(".alertBox");
function showAlertBox() {
  alertBox.classList.add("alertBoxShow");
  setTimeout(function(){alertBox.classList.remove("alertBoxShow");}, 4000);
}
	
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

// var disqus_config = function () {
// this.page.url = {{ page.url | absolute_url }};  // Replace PAGE_URL with your page's canonical URL variable
// this.page.identifier = {{ site.disqus.shortname }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
// };

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://kyechan99-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>