
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
	<div class="alertBox text-center">주소가 복사되었습니다.</div>
    <main class="page-content" aria-label="Content">
		<div class="container-fluid post-container-fluid">
			{% if page.haveImg == true %}
				<div class="post-img" style="background-image: url(/assets/img/head-img/{{ page.headerImg }})"></div>
			{%- else -%}
				<div class="post-img" style="background-image: url(https://images.pexels.com/photos/262488/pexels-photo-262488.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"></div>
			{% endif %}
		</div>
      <div class="container">
		<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
			<div class="quick-bar hide" id="quick-bar">
				<button class="quick-btn" id="up-btn">
					{% octicon triangle-up height:24 %}
				</button>	
				<button class="quick-btn linkBtn" OnClick="javascript:copyUrlToClipboard(); showAlertBox();">
					{% octicon link height:24 %}
				</button>
			</div>
		  <header class="post-header">
			<div class="post-info">
				<p class="post-category p-name" itemprop="name headline">
					{%- if page.categories[0] == 'Lib'-%}
						<a href="/DevNote">개발노트 / 연구</a>
					{%- else if page.categories[0] == 'Dev' -%}
						<a href="/DevNote">개발노트 / 기술</a>
					{%- else if post.categories[0] == 'Games' -%}
						<a href="/Project">프로젝트 / 게임</a>
					{%- else if post.categories[0] == 'App' -%}
						<a href="/Project">프로젝트 / 앱</a>
					{%- else -%}
						/ {{ page.categories[0] }}
					{%- endif -%}
				</p>
				<p class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</p>
				<p class="post-subtitle p-name" itemprop="name headline">{{ page.description }}</p>
				<div class="post-tags-box">
					{%- for tag in page.tags -%}
						<span class="post-tag">{{ tag }}</span>
					{%- endfor -%}
				</div>
			</div>
		  </header>

		  <div class="card card-post">
			<div class="post-content e-content" itemprop="articleBody">
			  {{ content }}
			</div>
		  </div>

		  <hr class="post-end"/>
			
		  <div class="card card-recommendation">
			<div class="row">
				<div class="col">
					<button class="btn" onclick='document.location.href="{{ page.previous.url }}"'>{% octicon chevron-left height:24 %} 이전글</button>
				</div>
				<div class="col">
					<button class="btn" onclick='document.location.href="{{ page.next.url }}"'>다음글 {% octicon chevron-right height:24 %}</button>
				</div>
			</div>
		  </div>
			
		  <div class="card card-comment">
			<!-- 	utteranc.es		 -->
			<script src="https://utteranc.es/client.js"
					repo="kyechan99/kyechan99.github.io"
					issue-term="title"
					label="comment"
					theme="github-light"
					crossorigin="anonymous"
					async>
			</script>
		  </div>                         

		  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
		</article>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  
  {%- include script.html -%}
  <script type="text/javascript">
	  // AlertBox
	var alertBox = document.querySelector(".alertBox");
	var alertTimer;
	function showAlertBox() {
		if (alertBox.classList.contains('alertBoxShow')) {
			// alertBox 실행 중이면 삭제
			alertBox.classList.remove('alertBoxShow');
			clearTimeout(alertTimer);
		}

		// remove 와 add 사이에 alertBox를 한번 호출해 주어야 됨
		alertBox.offsetWidth;
		alertBox.classList.add('alertBoxShow');

		alertTimer = setTimeout(function() {
			// 4초를 변경하려면 _sass/jebl/_layout/.alertBoxShow 의 애니메이션 시간도 변경해줘야함
			alertBox.classList.remove('alertBoxShow');
		}, 4000);
	}
	 
	jQuery(function ($) {
		$('#up-btn').click(function() {
			$('html, body').animate({
				scrollTop: $('html, body').offset().top
			}, 500);
		})
	})
	  
	$(document).ready(function() {
		var myID = document.getElementById("quick-bar");

		$(document).scroll(function() {
		  var y = $(this).scrollTop();
		  if (y >= 280) {
			myID.className = "quick-bar show";
		  } else {
			myID.className = "quick-bar hide";
		  }
		});

	});
	function copyUrlToClipboard() {
		var dummy = document.createElement('input');
		var text = window.location.href;

		document.body.appendChild(dummy);
		dummy.value = text;
		dummy.select();
		document.execCommand('copy');
		document.body.removeChild(dummy);
	}
  </script>
</html>